*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

:root{
    --gray-01--: rgb(48,48,48);
    --gray-02--: rgb(14, 14, 14);
    --gray-03--: rgb(75, 75, 75);
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--gray-02--);
    align-items: center;
    font-family: "Mulish", serif;
    margin: 10px 0;
    background: url(./assets/b3.jpg) no-repeat center;
    background-size: cover;
}

strong{
    color: rgb(94, 185, 245);
}

#body1, #body2, #body3, #body4{
    width: 100%;
    max-width: 1100px;
    height: 100%;
}

/*Body1*/
#body1{
    display: flex;
    flex-direction: column;
    padding: 100px 100px 20px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 16px 16px 0 0;
    background: url(./assets/b4.jpg) no-repeat center;
    background-size: cover;
}

#body1 #profile{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 1px solid black;
    overflow: hidden;
    margin-bottom: 40px;
}

#technologies{
    display: flex;
    gap: 10px;
}

#technologies button{
    padding: 0 7px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: var(--gray-02--);
    border-radius: 32px;
    border: 1px solid var(--gray-03--);
    font-size: 20px;
    font-weight: 400;
    gap: 10px;
}

#body1 i:last-child{
    font-size: 35px;
    margin: 30px;
    z-index: 1;
}

/*Body2*/
#body2{
    display: flex;
    flex-direction: column;
    padding: 30px 100px;
    align-items: center;
    border-radius: 0 0 16px 16px;
}

#projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-items: center;
    gap: 10px;
    margin-top: 5px;
}

#projects div{
    width: 330px;
    height: 280px;
    background-color: var(--gray-02--);
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid var(--gray-03--);
}

#projects div img{
    width: 100%;
    height: 155px;
    border-radius: 8px;
    overflow:hidden;
    border: 1px solid black;
}

/*Body3*/

#body3{
    display: flex;
    flex-direction: column;
    padding: 30px 100px;
    align-items: center;
    gap: 5px;
    background-color: transparent;
}

#services{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px
}

#services div{
    width: 280px;
    height: 155px;
    padding: 20px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--gray-03--);
    background-color: var(--gray-02--);
    border-radius: 8px;
}

#services div i{
    font-size: 45px;
    margin-bottom: 10px;
    color: rgb(231, 248, 80);
}

#services div:first-child i{
    color: rgba(193, 77, 247, 0.76);
}

/*Body4*/
#body4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px 100px;;
    gap: 10px;
    width: 100%;
    border-radius: 16px;
    background: url(./assets/b5.jpg) no-repeat center;
    background-size: cover;
}

#body4 a{
    height: 100%;
    max-height: 70px;
    width: 51px;
    border: 1px solid var(--gray-03--);
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    transition: 0.5s;
    position: relative;
    padding: 10px;
    border-radius: 16px;
}

#body4 a:hover{
    width: 300px;
}

#media{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    max-height: 600px;
    height: 100%;
}

#body4 a i:first-child{
    font-size: 30px;
}

#body4 a i:last-child{
    color: rgb(94, 185, 245);
    position: absolute;
    right: 10px;
    transform: rotate(-45deg);
    transition: 0.5s;
}

#body4 a:hover i:last-child{
    transform: rotate(0);
}

#body4 a i:last-child, #body4 a h2{
    opacity: 0;
    transition: 0.3s;
}

#body4 a:hover i:last-child, #body4 a:hover h2{
    opacity: 1;
}


